body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F8FAFC;
    color: #122236;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 600px;
}

#logo-container {
    margin-top: 20px;
}

.chat-container {
    margin-top: auto; /* Positionne le chat-container en bas de la page */
    border-radius: 0; /* Supprime les bordures */
}

#chat-box {
    height: calc(100% - 70px);
    overflow-y: auto;
    padding: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #1BA1DC;
}

input {
    flex: 1;
    padding: 20px;
    margin-right: 8px;
    border: none;
    border-radius: 8px;
    background-color: #1BA1DC;
    color: #F8FAFC;
    box-shadow: inset 4px 4px 8px rgba(18, 34, 54, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.8);
    
}

#send-button {
    background-color: #122236;
    color: #F8FAFC;
    border: none;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(18, 34, 54, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.8);
}

#loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: none;
    margin-left: 10px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.chatbot-message,
.user-message {
    margin-bottom: 50px; /* Espace de 50px entre chaque réponse dans le chat */
}

.chatbot-message {
    color: #1BA1DC;
    text-align: left;
}

.user-message {
    text-align: right;
}
