body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 28px;
    background-color: #F8FAFC;
    color: #122236;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

#logo-container {
    height: 10vh;
    text-align: center;
    padding:20px;
}

.chat-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #F8FAFC;
}

#chat-box {
    height: 100%;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #F8FAFC;
    height: 10vh;
}

input {
    flex: 1;
    padding: 15px;
    margin-right: 10px;
    border: none;
    border-radius: 50px;
    background-color: #F8FAFC;
    box-shadow: inset 4px 4px 8px rgba(18, 34, 54, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.8);
    font-size: 1rem; /* Utilisation de rem pour la taille de la police */
    max-width: 100%; /* Ajout de cette ligne pour assurer la largeur maximale sur mobile */
}

#send-button {
    background-color: #122236;
    color: #F8FAFC;
    border: none;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(18, 34, 54, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.8);
    font-size: 1rem; /* Utilisation de rem pour la taille de la police */
    max-width: 100%; /* Ajout de cette ligne pour assurer la largeur maximale sur mobile */
}

.chatbot-message,
.user-message {
    margin-bottom: 50px; /* Espace de 50px entre chaque réponse dans le chat */
    text-align: right;
    color: #1BA1DC;
}

.chatbot-message {
    text-align: left;
    color : #122236;
}

.user-message {
    text-align: right;
    position: relative; /* Ajoutez cette ligne pour permettre le positionnement relatif */
}

.user-message .loader {
    position: absolute; /* Ajoutez cette ligne pour permettre le positionnement absolu */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

a {
    color: #1BA1DC;
}
